{{define "account/regist.html"}}
<!DOCTYPE html>
<html lang="zh-CN">
  
  <head>
  	{{template "meta.html"}}
    <title>{{.page}} - YBlog</title>
    {{template "link.html"}}
    <script src="../static/libs/bootstrap/jquery.min.js"></script>
	</head>
  
  <body id="regist-body">
    <div class="container ">
      <form class="form-regist" >
        <h2 class="form-regist-heading">注 册</h2>
        <p id="csrfToken" hidden>{{.csrfToken}}</p>
        <div class="form-control">
          <div class="form-name" ><span>手机号</span></div>
          <input type="text" class="form-input"  name="phone" id="phone" required>
          <div class="form-msg" id="phone-msg"><span class="error-msg"></span></div>
        </div>
        <div class="form-control">
          <div class="form-name"><span>用户名</span></div>
          <input type="text" class="form-input"  name="username" id="username" required>
          <div class="form-msg" id="username-msg"><span class="error-msg"></span></div>
        </div>
        <div class="form-control">
          <div class="form-name" ><span>密码</span></div>
          <input type="password"  class="form-input" name="password" id="password" required>
          <div class="form-msg" id="password-msg"><span class="error-msg"></span></div>
        </div>
        <div class="form-control">
          <div class="form-name"><span>确认密码</span></div>
          <input type="password" class="form-input"  name="repwd" id="repwd" required>
          <div class="form-msg" id="repwd-msg"><span class="error-msg"></span></div>
        </div>
        <div class="form-control">
          <div class="form-name"><span>邮箱</span></div>
          <input type="email" class="form-input"   name="email" id="email" required>
          <div class="form-msg" id="email-msg"><span class="error-msg"></span></div>
        </div>
        <button class="btn btn-lg btn-primary btn-block regist-btn" type="submit" >注册</button>
        <div class="form-control">
          <a class="btn btn-lg btn-primary btn-block regist-btn" type="button" href="/v1/login">
          登陆
          </a>
        </div>
      </form>
    </div>
    <script src="../static/libs/gin-blog/regist.js"></script>
  </body>

</html>
{{end}}