{{define "art_link.html"}}
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="../../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link rel="stylesheet" href="../../static/editormd/css/editormd.css" />

<!-- Custom styles for this template -->
<link href="../../static/css/blog.css" rel="stylesheet">
<script src="../../static/libs/jquery-3.2.1.min.js"></script>
<script src="../../static/libs/bootstrap/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../static/libs/bootstrap/ie10-viewport-bug-workaround.js"></script>
<script src="../../static/libs/bootstrap/ie-emulation-modes-warning.js"></script>


{{end}}