{{define "index/index.html"}}
<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    {{template "meta.html"}}
    <title>{{.page}} - YBlog </title>
    {{template "link.html"}}
    <style type="text/css" abt="234"></style>
    <script>//console.log('a')</script>
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          {{if .username}}
            <a class="blog-nav-item" href="/">首页</a>
            {{if .currentUser}}
            <a class="blog-nav-item active" href="./blog/{{.currentUser}}">博客</a>
            {{end}}
          {{else}}
            <a class="blog-nav-item active" href="/">首页</a>
            {{if .currentUser}}
            <a class="blog-nav-item" href="./blog/{{.currentUser}}">博客</a>
            {{end}}
          {{end}}
          <!-- <a class="blog-nav-item" href="#">页面3</a>
          <a class="blog-nav-item" href="#">页面4</a>
          <a class="blog-nav-item" href="#">页面5</a> -->
        </nav>
        <div class="blog-test">
          <div class="blog-nav">
            {{if .currentUser}}
              <a class="blog-nav-item blog-nav-item-user" href="/md">写文章</a>
              <a id="currentUsername" class="blog-nav-item blog-nav-item-user" href="#">{{.currentUser}}</a>
              <a class="blog-nav-item blog-nav-item-user" href="/logout">退出</a> 
            {{else}}
              <a class="blog-nav-item blog-nav-item-user" href="/login">登陆</a>
              <a class="blog-nav-item blog-nav-item-user" href="/regist">注册</a> 
            {{end}}
            
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      

      <div class="row">
        <div class="page-header">
          <h1 class="blog-title"></h1>
        </div>

        <div class="col-sm-8 blog-main">

         <!-- 文章块 -->
        {{range $a_key, $a_value:=.content}}
          <div class="blog-post page-header">
            <h2 class="blog-post-title"><a href="/article/{{$a_value.articleID}}">{{$a_value.title}}</a></h2>
            <p class="blog-post-meta">{{$a_value.updDateTime}} &bull; <a href="/blog/{{$a_value.author}}">{{$a_value.author}}</a> &bull; {{$a_value.pageView}}</p>
            <div class="article-list-btn-div">
              <button type="button" class="{{$a_value.isLiked}}" art_id={{$a_value.articleID}} likedStatus={{$a_value.isLiked}}>赞 ({{$a_value.dbLikeNumber}})</button>
              <button type="button" class="blog-btn">
                评论 (123)</button>
            </div>
          </div><!-- /.blog-post -->
        {{end}}
        
        <nav aria-label="...">
          <ul class="pager">
            {{if .username}}

              <p id="currentPageNumber" hidden>{{.currentPage}}</p>
              <p id="totalPageNumber" hidden>{{.totalPage}}</p>
              {{if eq .currentPage 1}}
              <li class="disabled"><a id="prePage">上一页</a></li>
              {{else}}
              <li><a id="prePage" href="/?username={{.username}}&page={{minus .currentPage 1}}">上一页</a></li>
              {{end}}
              
              <li><a>{{.currentPage}}/{{.totalPage}}</a></li>
              {{if ge .currentPage .totalPage}}
              <li class="disabled"><a id="nextPage">下一页</a></li>
              {{else}}
              <li><a id="nextPage" href="/?username={{.username}}&page={{add .currentPage 1}}">下一页</a></li>
              {{end}}

            {{else}}

              <p id="currentPageNumber" hidden>{{.currentPage}}</p>
              <p id="totalPageNumber" hidden>{{.totalPage}}</p>
              {{if eq .currentPage 1}}
              <li class="disabled"><a id="prePage">上一页</a></li>
              {{else}}
              <li><a id="prePage" href="/?page={{minus .currentPage 1}}">上一页</a></li>
              {{end}}
              
              <li><a>{{.currentPage}}/{{.totalPage}}</a></li>
              {{if ge .currentPage .totalPage}}
              <li class="disabled"><a id="nextPage">下一页</a></li>
              {{else}}
              <li><a id="nextPage" href="/?page={{add .currentPage 1}}">下一页</a></li>
              {{end}}

            {{end}}
            
          </ul>
        </nav>
          
        </div><!-- /.blog-main -->

        <!--blog-sidebar -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>相关技术</h4>
            <p>后端语言 --- go语言</p>
            <p>后端框架 --- gin</p>
            <p>前端框架 --- bootstrap</p>
            <p>markdown -- editor.md</p>
            <p>关系数据库 --- MySQL</p>
            <p>内存数据库 --- Redis</p>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>分类</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
            </ol>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>热度排行</h4>
            <ol class="list-unstyled">
              <li><a href="#" >GitHub</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p><a href="http://getbootstrap.com/">yangzhe</a> 博客</p>
      <p>
        <a href="#">回到顶部</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/libs/bootstrap/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/libs/bootstrap/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/libs/bootstrap/ie10-viewport-bug-workaround.js"></script>
    <script>
      // 根据是否点赞，设置点赞按钮颜色
      $(".article-list-btn-div button:first-child").bind("click",function(){
          console.log($(this).text())
          var thisButton = $(this)
          var currentUser = ""
          currentUser = $("#currentUsername").text()
          var likedArticle = thisButton.attr("art_id")
          if (currentUser == ""){
            console.log("未登陆...." + likedArticle)
            location.href = "/login";
          } else {
            console.log("已登陆...." + likedArticle)
            var data = {
              currentUser:currentUser,
              likedArticleID:likedArticle,
              likedStatus: thisButton.attr("likedStatus"),
            }
            var jsonData = JSON.stringify(data)
            $.ajax({
              url:"/liked",
              type:"post",
              data:jsonData,
              contentType:"application/json",
              success: function (resp) {
                if(thisButton.attr("likedStatus")== "liked") {
                  console.log(thisButton.text())
                  thisButton.removeClass("liked")
                  thisButton.addClass("unliked")
                  thisButton.attr("likedStatus","unliked")
                } else {
                  console.log(thisButton.text())
                  thisButton.removeClass("unliked")
                  thisButton.addClass("liked")
                  thisButton.attr("likedStatus","liked")
                }
                var likedNumberStr = resp.likedNumber
                thisButton.text("赞 ("+likedNumberStr+")")
              },
              error: function (resp) {
                alert(resp.msg);
              },
            });
          };
        });
    </script>
</body></html>
{{end}}