{{define "article/article.html"}}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="../../static/images/favicon.ico">
</head>
<title>{{.page}} - YBlog </title>
<div class="container">
    <button id="art-back" type="button" class="btn btn-default">返回</button>
    <div id="article-title" class="blog-post page-header">
        <h1>{{.title}}</h1>
        <p class="blog-post-meta">发布时间：{{.pubDateTime}} &bull; 作者：<a href="#">{{.author}}</a> &bull; 访问量：{{.pageView}}</p>
    </div>
</div>
<xmp theme="Cerulean" style="display:none;" id="markdown-content">
{{.articleCotent}}
</xmp>
<script src="../../static/strapdown/strapdown.js"></script>
<script src="../../static/libs/jquery-3.2.1.min.js"></script>
<script>
    $("#art-back").bind("click",function(){
        location.href = "/";
    });
</script>
</html>
{{end}}